<div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <h1>ACERCA DE</h1>
        <hr>
  
  
        <div class="col">
            
          <div class="col">
            <img src="https://scontent.fntr10-2.fna.fbcdn.net/v/t1.15752-9/318376131_663163131943716_7077407725620501333_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGxaMSPOGokCJYI9relKckDaQqPGQLEa1VpCo8ZAsRrVYWyMiOzOoALNBKJAnX0GBGf8zepiMq3eHQC8mhs1nJh&_nc_ohc=5mY9on_0XZ4AX8WEiJQ&_nc_ht=scontent.fntr10-2.fna&oh=03_AdQzL7wAOfZ6Pk6pDNPB1G8l5aFrKwGnqWDcD1QHks5Thw&oe=63B9F74C" 
            alt="yo" width="300"  >
              <h1 class="col text-center" >Mi nombre es Julian Gonzalo Sotelo Flores</h1>
              <h2>Soy fan del juego de cartas y esta pagina esta diseñada para la venta y compra de productos de yugioh</h2>
          </div>
        </div>
  
  
 


      </div>
    </div>
  </div><br><br><p></p><br><br><p></p><br><br><p></p><br><p></p><br>  <br><p></p><br>