<div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <h1><i class="fa fa-plus"></i> CARTAS DISPONIBLES</h1>
        <hr>
  
  
        <div class="row">
          <div class="col text-right">
 
          </div>
        </div>
  
        <main role="main">

 
      
            <div class="album py-5 bg-light">
              <div class="container">
      
                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://ms.yugipedia.com//thumb/5/5f/ElementalHEROPhoenixEnforcer-LCGX-EN-SR-1E.jpg/300px-ElementalHEROPhoenixEnforcer-LCGX-EN-SR-1E.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Elemental HERO Phoenix Enforcer</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                          </div>
                          <small class="text-muted">200$</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://ms.yugipedia.com//thumb/3/3f/AccesscodeTalker-BLCR-EN-ScR-1E.png/300px-AccesscodeTalker-BLCR-EN-ScR-1E.png" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Accesscode Talker</p>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                          </div>
                          <small class="text-muted">315$</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://ms.yugipedia.com//thumb/c/cd/BlackwingFullArmorMaster-BLCR-EN-UR-1E.png/300px-BlackwingFullArmorMaster-BLCR-EN-UR-1E.png" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Blackwing Full Armor Master</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                          </div>
                          <small class="text-muted">200$</small>
                        </div>
                      </div>
                    </div>
                  </div>


                  
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://ms.yugipedia.com//thumb/b/b4/ThousandDragon-SS02-EN-C-1E.png/300px-ThousandDragon-SS02-EN-C-1E.png" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Thousand Dragon</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                          </div>
                          <small class="text-muted">100$</small>
                        </div>
                      </div>
                    </div>
                  </div>


                  
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://ms.yugipedia.com//thumb/a/af/BlackLusterSoldier-STP3-EN-SR-UE.png/300px-BlackLusterSoldier-STP3-EN-SR-UE.png" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Black Luster Soldier</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                          </div>
                          <small class="text-muted">230$</small>
                        </div>
                      </div>
                    </div>
                  </div>


                  
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2292/0133/products/YugiohLogoHat_PH01_640x.jpg?v=1642621983" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Gorrita de yugioh edicion limitada</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                          </div>
                          <small class="text-muted">250$</small>
                        </div>
                      </div>
                    </div>
                  </div>

                  
                </div>
              </div>
            </div>
      
          </main>
  
   
  
    
  
  
      </div>
    </div>
  </div><br><br><p></p><br><br><p></p><br><br><p></p><br><p></p><br>  <br><p></p><br>